node_modules
.git
.context
.private
**/.private
.aws
**/.aws
.env
.env.*
!.env.example
*.tfvars
*.tfvars.json
*.tfplan
*.tfplan.*
*.tfstate*
*.plan
!*.tfvars.example
*.backend.hcl
*.pin
*.pem
*.key
*.p12
*.pfx
*.jks
*.keystore
*.dump
*.dump.gz
*.tar
*.tar.gz
*.credentials.json
*.login.json
**/.env
**/.env.*
!**/.env.example
**/*.tfvars
**/*.tfvars.json
**/*.tfplan
**/*.tfplan.*
**/*.tfstate*
**/*.plan
!**/*.tfvars.example
**/*.backend.hcl
**/*.pin
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.jks
**/*.keystore
**/*.dump
**/*.dump.gz
**/*.tar
**/*.tar.gz
**/*.credentials.json
**/*.login.json
android
**/dist
**/build
**/.terraform
**/.gradle
**/__pycache__
